#title {
  text-align: center;
  font-family: arial, sans-serif;
  width: 500px;
  margin-left: 50px;
}

#students {
  text-align: center;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 500px;
  margin-left: 50px;
  margin-bottom: 50px;
}

#students td,
#students th {
  border: 1px solid #ddd;
  padding: 3px;
}

#students tr:nth-child(even) {
  background-color: #f2f2f2;
}

#students tr:hover {
  background-color: #ddd;
}

#students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #d8232a;
  color: white;
}

.my-custom-scrollbar {
  position: relative;
  height: 550px;
  overflow: auto;
}
